/GeneratorSmokeTest/[Bb]in/
/ReunionMovement.SourceGenerator/[Bb]in/

/GeneratorSmokeTest/[Oo]bj/[Dd]ebug/
/GeneratorSmokeTest/[Oo]bj/[Rr]elease/
/ReunionMovement.SourceGenerator/[Oo]bj/[Dd]ebug/
/ReunionMovement.SourceGenerator/[Oo]bj/[Rr]elease/